<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>

<div class="container-fluid">
    <h3 class="text-center text-white mt-5" th:text="#{welcome}">ДОБРЕ ДОШЛИ В</h3>
</div>

<img alt="hangman" th:src="@{/images/logo.png}" class="logo-header">
<div class="button-container">
    <a th:href="@{/login}">
        <button type="button" class="btn btn-secondary btn-lg" th:text="#{navbar_login}">Вход</button>
    </a>
    <a th:href="@{/register}">
        <button type="button" class="btn btn-secondary btn-lg"th:text="#{navbar_register}">Регистрация</button>
    </a>
</div>
<div>
    <footer></footer>
</div>

</body>
</html>
