<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>

<div>
    <nav th:replace="~{/fragments/navigation}"></nav>
</div>


<div class="game-container">


    <div th:if="${result == 'WIN'}">
        <img alt="hangman-1" th:src="@{/images/happy-01.png}" class="game-image">
    </div>
    <div th:if="${result == 'LOSS'}">
        <img alt="hangman-1" th:src="@{/images/7-01.png}" class="game-image">
    </div>

    <div class="info-container under">

        <div th:if="${result == 'WIN'}">
            <h1 class="text-center text-white mt-5">Ти спечели!</h1>
        </div>
        <div th:if="${result == 'LOSS'}">
            <h1 class="text-center text-white mt-5">Ти загуби!</h1>
        </div>



        <h4 class="text-center text-white mt-5">Спечелени точки:
            <div class="d-inline" th:text="${score}"/>
        </h4>
        <h4 class="text-center text-white mt-5">Общ брой точки:
            <div class="d-inline" th:text="${totalScore}"/>
        </h4>

        <h3 class="text-center text-white mt-5 margin-top">Думата беше:
            <div class="d-inline" th:text="${dictionary.word.toUpperCase()}"/>
        </h3>
        <h5 class="text-center text-white mt-5" th:text="${dictionary.definition}"></h5>
    </div>

</div>


<div>
    <footer></footer>
</div>

</body>
</html>
