<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>

<div>
    <nav th:replace="~{/fragments/navigation}"></nav>
</div>


<div class="game-container">
    <img alt="hangman-smiley" th:src="@{/images/smiley-01.png}" class="game-image">
    <div class="info-container">
        <h1 class="text-center text-white mt-5">
            <span th:text="#{hello}"></span>
            <span th:text="${player.fullName}"></span>
            <span>!</span>
        </h1>
        <h2 class="text-center text-white mt-5">
            <span th:text="#{max_score}"></span>
            <span th:text="${player.score}"></span>
        </h2>

        <div class="submit-letter d-block">
            <form th:method="POST"
                  th:action="@{/profile}"
                  th:object="${emailForSettingsDto}"
                  class="form-group align-content-center ">


                <label th:for="email"
                       class="text-white font-weight-bold under" th:text="#{email_change}">Смяна на имейл:  </label>
                <div class="under">
                    <input type="email"
                           th:field="*{email}"
                           class="form-control mb-2 mr-sm-2"
                           placeholder="Въведи имейл"/>

                    <p th:if="${#fields.hasErrors('email')}"
                       class="errors alert alert-danger " th:text="#{register_email_error}">
                        Въведете валиден или незает имейл.
                    </p>

                </div>
                <div class="button-holder d-inline">
                    <input type="submit" class="btn btn-info btn-lg" th:value="#{change_button}"/>
                </div>

            </form>
        </div>


    </div>
</div>
<h2 class="text-center text-white mt-5" th:text="#{last_games}">Последни игри:</h2>
<div class="scoreboard">

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{word}">Дума</th>
            <th scope="col" th:text="#{outcome}">Резултат</th>
            <th scope="col" th:text="#{score}">Точки</th>
        </tr>
        </thead>
        <tbody th:each="game : ${player.gamesPlayed}"
               th:object="${game}">
        <tr class="text-white">
            <td th:text="*{dictionary}"></td>

            <div th:if="*{outcome == 'WIN'}">
                <td th:text="#{win}">Победа</td>
            </div>
            <div th:if="*{outcome == 'LOSS'}">
                <td th:text="#{loss}">Загуба</td>
            </div>

            <td th:text="*{score}"></td>

        </tr>

        </tbody>
    </table>

    <script>
        var table = document.querySelector("table");
        var rows = table.rows;
        for (var i = 1; i <= 5; i++) {
            var row = rows[i];
            var numberCell = row.insertCell(0);
            numberCell.textContent = i;
        }
    </script>

</div>


<div>
    <footer></footer>
</div>

</body>
</html>
