<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>

<div>
    <nav th:replace="~{/fragments/navigation}"></nav>
</div>

<div class="container-fluid">

        <h1 class="text-center text-white mt-5">Здравей, <div class="d-inline" th:text="${player.getFirstName()}"/>!</h1>
        <h2 class="text-center text-white mt-5">Твоят максимален резултат: <div class="d-inline" th:text="${player.getScore()}"/></h2>
        <h2 class="text-center text-white mt-5">Твоят максимален резултат: <div class="d-inline" th:text="${player.getEmail()}"/></h2>
<!--
    games + email change + scoreboard position
-->

</div>


<div>
    <footer></footer>
</div>

</body>
</html>
