<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>



<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Класация</h2>


    <div class="scoreboard">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Име</th>
                <th scope="col">Общо игри</th>
                <th scope="col">Точки</th>
            </tr>
            </thead>
            <tbody th:each = "player: ${players.getContent()}"
                   th:object = "${player}">
            <tr class="text-white">
                <td th:text="*{fullName}"></td>
                <td th:text="*{gamesPlayed}"></td>
                <td th:text="*{score}"></td>

            </tr>

            </tbody>
        </table>

        <script>
            var table = document.querySelector("table");
            var rows = table.rows;
            for (var i = 1; i < rows.length; i++) {
                var row = rows[i];
                var numberCell = row.insertCell(0);
                numberCell.textContent = i;
            }
        </script>

    </div>



</div>

<div>
    <footer></footer>
</div>

</body>
</html>
