<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello</title>
</head>
<body>

  Hello, <th:block th:text="${fullName}"></th:block>!

  <p>
    Welcome to Hangman!
    Please click here to activate your account:
    <th:block th:text="${activationLink}"></th:block>
  </p>

  <p>
  Best,
  Hangman!
  </p>

</body>
</html>